<h1 class="table-title">Clientes</h1>

<button (click)="showCreateForm = !showCreateForm">Cadastrar Cliente</button>

<div *ngIf="showCreateForm">
  <h2>Cadastrar Novo Cliente</h2>
  <form (ngSubmit)="onCreateClient()">
    <input [(ngModel)]="newClient.name" name="name" placeholder="Nome" required>
    <input [(ngModel)]="newClient.cpf" name="cpf" placeholder="CPF" required>
    <input [(ngModel)]="newClient.email" name="email" placeholder="Email" required>
    <input [(ngModel)]="newClient.phoneNumber" name="phoneNumber" placeholder="Telefone" required>
    <input type="number" [(ngModel)]="newClient.age" name="age" placeholder="Idade" required>
    <button type="submit">Salvar</button>
  </form>
</div>

<app-client-table></app-client-table>
<router-outlet />
