<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- CPF Column -->
  <ng-container matColumnDef="cpf">
    <th mat-header-cell *matHeaderCellDef> CPF </th>
    <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Phone Number Column -->
  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef> Phone Number </th>
    <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
  </ng-container>

  <!-- Age Column -->
  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef> Age </th>
    <td mat-cell *matCellDef="let element"> {{element.age}} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Ações </th>
    <td mat-cell *matCellDef="let element">
      <button (click)="showClientDetails(element.cpf)">Ver Detalhes</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div *ngIf="selectedClient" class="popup">
  <div class="popup-content">
    <span class="close" (click)="closePopup()">&times;</span>
    <h2>Detalhes do Cliente</h2>
    <p><strong>Nome:</strong> {{selectedClient.name}}</p>
    <p><strong>CPF:</strong> {{selectedClient.cpf}}</p>
    <p><strong>Email:</strong> {{selectedClient.email}}</p>
    <p><strong>Telefone:</strong> {{selectedClient.phoneNumber}}</p>
    <p><strong>Idade:</strong> {{selectedClient.age}}</p>
    <p><strong>Criado em:</strong> {{selectedClient.createdAt | date}}</p>
    <p><strong>Atualizado em:</strong> {{selectedClient.updatedAt | date}}</p>
  </div>
</div>
